extends ./layout.jade

block title
	title= thread.title + " - ssf"

prepend header
	h1 View Thread

block content
	include ./pagination_control.inc.jade
	table#thread
		each reply, i in thread.replies
			tr(class = "thread-reply")
				td(class = "reply-nickname")= reply.nickname
				td(class = "reply-content")
					table(class = "reply-header")
						tr
							td
								strong= reply.title
							td(class = "date")
								a(name = "reply" + i href = "#reply" + i)
									| #{reply.time.toShortString()}
					| !{content_parser(reply.content)}
	include ./pagination_control.inc.jade
	div(id = "form-container")
		p
			| Respond below.
			| If a password is given, a registered nickname will be used or created.
			| Simple BBCode is enabled.
		include ./post_form.inc.jade
